<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>

        <File name="SearchFile" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="SEARCH_INPUT"  onMatch="ACCEPT"   onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="ErrorInputFile" fileName="logs/errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5levelERROR %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="ERROR_INPUT" onMatch="ACCEPT"   onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="ExceptionsFile" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>
            </Filters>
        </File>

    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="SearchFile" level="info"/>
            <appender-ref ref="ErrorInputFile" level="info"/>
            <appender-ref ref="ExceptionsFile" level="error"/>
        </root>
    </loggers>
</configuration>