<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="todo-form">
        <form>
            <h2>Add Todo</h2>
            <label>Name of the case:</label>
            <input type="text" name="name" value="">
            <label>Note: </label>
            <input type="text" name="note" value="">
            <hr>
            <button id="save-todo">Save</button>
        </form>
    </div>
    <div id="get-todo-form">
        <form>
            <h2>Edit Todo</h2>
            <label>Case number:</label>
            <input id="edit-number" type="text" name="number" value="" readonly>
            <label>Name of the case:</label>
            <input id="edit-name" type="text" name="name" value="">
            <label>Note: </label>
            <input id="edit-note" type="text" name="note" value="">
            <hr>
            <button id="edit-todo">Edit</button>
        </form>
    </div>

    <h1>To Do List (<span th:text="${todoCount}">0</span>)</h1>
    <button id="show-add-todo-form">Add ToDo</button>
    &nbsp;
    <button id="delete-all">Delete All</button>
    <br><br>
    <div id="todo-list">
        <div th:each="todo : ${todoList}">
            <h3>
                <span th:text="${todo.number}"></span>
                &nbsp;
                <span th:text="${todo.name}"></span>
            </h3>
            <span th:text="${todo.note}"></span>
            <p>
                <button class="delete-todo" th:attr="data-number=${todo.number}">Delete</button>
                &nbsp;
                <button class="get-todo" th:attr="data-number=${todo.number}">Get</button>
            </p>
            <hr>
        </div>
        <p th:text="${revision}"></p>
    </div>
</body>
</html>